
/* Seleciona campos preenchidos automaticamente */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /* 1. Mude a cor de fundo (aqui como branco, mas ajuste conforme necessário) */
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    /* 2. Mude a cor do texto para garantir contraste */
    -webkit-text-fill-color: var(--texto) !important;
    /* 3. Evita a cor padrão do navegador em preenchimentos rápidos */
    transition: background-color 5000s ease-in-out 0s;
}
:root{
    --fundo: #0c0c0c;
    --fundoClaro: #161616;
    --texto: #d8d9fc;
    --textoOpaco: #f5f5f586;
    --detalhes: #3f3f3f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--texto);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
body{
    background: linear-gradient(to right, var(--fundo), rgb(0, 42, 121));
    display: flex;
    justify-content: center;
}
header{
    background-color: var(--detalhes);
    width: 85%;
    height: 8dvh;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
header ul{
    width: 400px;
    height: 40px;
    background-color: rgb(90, 90, 90);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.marca{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    width: 20%;
    padding-left: 20px;
    font-size: 15pt;
    border-radius: 20px;
}
.menu{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 15pt;
}
.botoes{
    width: 22%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 20px;
}
.botoes a{
    height: 40px;
    background-color: transparent;
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    font-size: 13pt;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}
#cadastrar{
    background-color: rgb(57, 57, 255);
}
#login:hover{
    color: rgb(62, 114, 255);
    transform: scale(1.1);
}
#cadastrar:hover{
    /* background-color: rgb(4, 4, 141); */
    box-shadow: inset 0px  1px 10px 2px rgba(0, 0, 0, 0.527);
    transform: scale(1.03);
}

/* ================================================================ */

/* ====== Login ====== */
.login{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: url('img_Login.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 20px;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
#voltar{
    position: absolute;
    top: 13%;
    left: 22%;
    animation: movimento_arrow 2s linear infinite;
    transition: all 1.5s ease;
}
@keyframes movimento_arrow {
    from, to{
        transform: translateX(10px);
    }
    50%{
        transform: translateX(0px);
    }
}
#img_login{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.infos_form{
    padding: 10px;
    width: 50%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(8px);
    border-radius: 10px;
}
.infos_form form{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
input{
    width: 100%;
    outline: none;
    background-color: transparent;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    transition: all 0.5s ease;
}
input[type="text"]:hover{
    transform: scale(1.03);
}
input[type="text"]:focus{
    transform: scale(1.05);
}
input[type="submit"]:hover{
    cursor: pointer;
    transform: scale(1.03);
}