:root{
    --fundo: #0c0c0c;
    --fundoClaro: #161616;
    --texto: #d8d9fc;
    --textoOpaco: #f5f5f586;
    --detalhes: #3f3f3f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--texto);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
body{
    background-color: var(--fundo);
}
/*/////////////////////////////////////////////////////////////// */
aside{
    width: 15dvw;
    height: 100vh;
    background-color: var(--fundoClaro);
    border-right: 1px solid rgba(245, 245, 245, 0.103);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-container{
    width: 100%;
    height: 60px;
    margin: 10px;
}
.perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}
.imagemUser{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.imagemUser img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#patente{
    color: var(--textoOpaco);
    font-size: 11pt;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 10px;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}
.menu i{
    width: 20px;
    color: var(--textoOpaco);
}
aside button{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: calc(100% - 15px);
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 12pt;
    cursor: pointer;
    transition: 0.1s;
}
aside button p{
    color: var(--textoOpaco);
}
aside button:hover{
    background-color: var(--detalhes);
    color: var(--texto);
}
/*/////////////////////////////////////////////////////////////// */
aside button.active {
  background: linear-gradient(90deg, black, rgba(75, 75, 75, 0.726));
  color: red;
  font-weight: 600;
  border-radius: 8px;
}
aside button.active p, aside button.active i{
    color: var(--texto);
}
/*/////////////////////////////////////////////////////////////// */
main{
    position: relative;
    top: 0;
    left: 15dvw;
    width: calc(100% - 15dvw);
    min-height: 100vh;
    padding: 10px;
}
main h1{
    width: 100%;
    height: 8dvh;
}
.container{
    width: 100%;
    height: 50dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}
/*/////////////////////////////////////////////////////////////// */
.main-top-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 20px
}
.card{
    background-color: var(--fundoClaro);
    border-radius: 10px;
    padding: 10px 0px;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--detalhes);
}
#DespesasMes{
    color: #ff6b6b;
}
/*/////////////////////////////////////////////////////////////// */
.registrar-container{
    margin-top: 20px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    border-radius: 5px;
    border: 1px solid var(--detalhes);
}
#textoSemConteudo{
    text-align: center;
}
.topoRegistrar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16pt;
}
.topoRegistrar span{
    color: rgba(248, 67, 67, 0.61);
    font-weight: 500;
}
#totalEntradas{
    color: rgba(67, 248, 103, 0.61);
}
#TituloPage{
    font-size: 18pt;
    margin: 10px;
}
.registrar-container ul{
    margin-left: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    overflow-y: auto;
    max-height: 230px;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: var(--textoOpaco);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--fundoClaro);
    border-radius: 5px;
    border: 1px solid var(--textoOpaco);
}
/* Seleciona campos preenchidos automaticamente */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /* 1. Mude a cor de fundo (aqui como branco, mas ajuste conforme necessário) */
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    /* 2. Mude a cor do texto para garantir contraste */
    -webkit-text-fill-color: var(--texto) !important;
    /* 3. Evita a cor padrão do navegador em preenchimentos rápidos */
    transition: background-color 5000s ease-in-out 0s;
}

.registrar-container ul li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 13pt;
    background-color: var(--fundoClaro);
    max-width: 100%;
    border-radius: 5px;
    padding: 10px 10px;
}
.registrar-container ul li span{
    width: 50%;
}
.registrar-container ul li input{
    width: 50%;
    height: 25px;
    background-color: transparent;
    border: 1px solid var(--detalhes);
    padding: 10px;
    border-radius: 5px;
    color: var(--texto);
    font-size: 12pt;
}
.registrar-container #abrirModalGastos, .registrar-container #abrirModalEntrada{
    margin: 10px;
    width: calc(100% - 10px);
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--detalhes);
    color: var(--texto);
    font-size: 12pt;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}
.registrar-container button:hover{
    opacity: 0.6;
    transform: scale(1.02);
}
#btnDelete {
    background: transparent;
    width: 30%;
    height: 25px;
    border: 1px solid var(--detalhes);
    color: #ff0000;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
#btnDelete:hover {
  color: white;
  background-color: rgba(250, 0, 0, 0.753);
}
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    justify-content: center;
    align-items: center;
    transition: all 20s ease;
}
.modal-content{
    background-color: var(--fundoClaro);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--detalhes);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.topo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 55px;
    align-items: center;
}
.topo span{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.05);
    color: var(--texto);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0px 0px 4px;
    transition: all 3 ease;
}
.topo span:hover{
    cursor: pointer;
    color: red;
    transform: scale(1.5);
    border: 1px solid red;
}
#gastosFixosList .dataGasto{
    width: 35%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0px;
    color: var(--texto);
    font-size: 8pt;
    margin-top: 5px;
}
.infosGasto{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.infosGasto button{
    background-color: transparent;
    border: none;
}
.infosGasto button i{
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3 ease;
    cursor: pointer;
}
.infosGasto button i:hover{
    background-color: rgb(255, 75, 75);
    transform: scale(1.3);
}
#gastoFixoForm, #entradaForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
#gastoFixoForm input, #entradaForm input{
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: 1px solid var(--detalhes);
    padding: 5px;
    border-radius: 5px;
    color: var(--texto);
    font-size: 12pt;
}
#gastoFixoForm input:hover, #entradaForm input:hover{
    border-color: var(--textoOpaco);
}
#gastoFixoForm button, #entradaForm button{
    margin-top: 10px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: var(--detalhes);
    color: var(--texto);
    font-size: 12pt;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#gastoFixoForm button:hover, #entradaForm button:hover{
    opacity: 0.6;
    transform: scale(1.02);
}
@media (max-width: 468px) {
    aside{
        width: 15dvw;
    }
    .perfil{
        margin-left: 5px;
    }
    .infosUser{
        display: none;
    }
    main{
        left: 15dvw;
        width: calc(100% - 15dvw);
    }
    .main-top-container{
        gap: 20px;
        flex-wrap: wrap;
    }
    .card{
        width: 45%;
        height: 80px;
    }
    .menu button p{
        display: none;
    }
}